<!DOCTYPE html>
<html>
<head>
    <title>Mijn Spelletjeswebsite</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .arrow {
            position: fixed;
            top: calc(50% - 20px);
            width: 60px;
            height: 60px;
            background-color: transparent;
            color: white;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 1;
        }

        .arrow-left {
            left: 260px;
        }

        .arrow-right {
            right: 10px;
        }

        .arrow-left:hover {
            content: url(https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/ZuydWorld/Recources/Images/PijlLHover.png?raw=true);
        }

        .arrow-right:hover {
            content: url(https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/ZuydWorld/Recources/Images/PijlRHover.png?raw=true);
        }

        .arrowhover {
            display: none;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .category {
            background-color: white;
            margin-bottom: 15px;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            border-radius: 10px;
        }

            .category:hover,
            .category.home:hover {
                background-color: #6E86FF;
                color: #fff;
            }

            .category.home {
                background-color: #6266a5;
                color: white;
                padding-top: 10px;
            }

        .content {
            margin-left: 300px;
            padding: 10px;
        }

        .empty-space {
            height: 20px;
        }

/*        .game {
            width: calc(25% - 20px);
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            border-radius: 10px;
            border: 5px solid #000;
            background-color: #EBEBEB;
        }

        .game-detailshover,
        .game-details {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            padding: 5px 10px;
        }

        .game-detailshover {
            background-color: #c8e0ff;
            color: black;
            transform: translateY(100%);
            transition: transform 0.3s ease;
        }

        .game-details {
            background-color: #a3a3a3;
            color: White;
            font-weight: bold;
        }

        .favorite {
            position: absolute;
            top: -8px;
            right: 25px;
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

            .favorite:before {
                content: "\2606";
                color: #fff;
                font-size: 40px;
            }

            .favorite:hover:before {
                color: yellow;
            }

            .favorite.active:before {
                content: "\2605";
                color: yellow;
            }

        .game img {
            width: 100%;
            height: 81%;
            object-fit: cover;
        }

        .game:hover img {
            filter: brightness(50%);
        }

        .game:hover {
            background-color: #767676;
        }

            .game:hover .game-detailshover {
                transform: translateY(0);
            }

        .game-name,
        .like-percentage {
            margin: 0;
        }

        .game-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .like-percentage {
            background-color: #a1bbff;
            padding: 5px 10px;
        }*/

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 30px;
        }

        .grid-item {
            text-align: center;
            position: relative;
            border-radius: 15px;
            border: 7px solid #7A7979;
            background-color: #EBEBEB;
        }

            .grid-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 7px;
            }

        .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            background-color: rgba(163, 163, 163, 0.9);
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            border-top: 7px solid #7A7979;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            transition: padding 0.3s;
        }

        .grid-item:hover {
            border-color: #696EE6;
            cursor: pointer;
        }

        .grid-item:hover img {
            filter: brightness(0.8);
            transition: ease 0.3s;
        }

        .caption span {
            position: absolute;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.3s ease 0.1s;
            padding: 10px;
            border-bottom-right-radius: 7px;
        }

        .grid-item:hover .caption {
                background-color: rgba(203, 224, 255, 0.9);
                color: #000;
                border-color: #696EE6;
                padding-right: 100px;
        }

        .grid-item:hover .caption span{
            background-color: rgba(160, 187, 255, 0.7);
            opacity: 1;
        }

        .grid-item:not(:hover) .caption span {
            opacity: 0;
            transition: ease-out 0s;
        }

        /*gebruik deze versie van de ster als de image van het spel licht gekleurd is*/
        .favorite {
            position: absolute;
            top: 0;
            right: 5px;
            color: #000;
            cursor: pointer;
            opacity: 0;
            font-size: 30px;
            z-index: 1;
        }

        /*gebruik deze versie van de ster als de image van het spel donker gekleurd is*/
        .favoritewhite {
            position: absolute;
            top: 0;
            right: 5px;
            color: #fff;
            cursor: pointer;
            opacity: 0;
            font-size: 30px;
            z-index: 1;
        }

        .grid-item:hover .favorite, .grid-item:hover .favoritewhite {
            opacity: 1;
        }

            .favorite:hover, .favoritewhite:hover {
            color: #ffe03a;
            }

            .favorite.clicked {
                color: #ffd700;
                opacity: 1;
            }

        .favoritewhite.clicked {
            color: #ffd700;
            opacity: 1;
        }

/*        .grid-item:hover .favoritewhite {
            opacity: 1;
        }

        .favoritewhite:hover {
            color: #ffe03a;
        }

        .favoritewhite.clicked {
            color: #ffd700;
            opacity: 1;
        }*/



        .sidebar {
            background-color: #7cbcff;
            color: #101010;
            padding: 10px;
            position: fixed;
            top: 60px;
            left: 0;
            width: 250px;
            height: calc(100vh - 50px);
            overflow-y: auto;
            z-index: 0;
        }

        #LogoRectangle {
            position: absolute;
            left: 0;
            top: 0;
            width: 265px;
            height: 77px;
            background-color: #4C7DDD;
            border-bottom-right-radius: 10px;
            z-index: 2;
        }
    </style>
</head>
<body>
    <div id="LogoRectangle"></div>
    <div class="header">
        <!-- Inhoud van de bovenste balk -->
    </div>
    <div class="sidebar">
        <div class="empty-space"></div>
        <div class="category home">Home</div>
        <div class="category">Random Game</div>
        <div class="category">New Games</div>
        <div class="category">Action</div>
        <div class="category">Adventure</div>
        <div class="category">Puzzle</div>
        <div class="category">Sport</div>
        <div class="category">Multiplayer</div>
        <div class="category">Trivia</div>
        <div class="category">Platformer</div>
        <div class="category">Board games</div>
        <div class="category">3D</div>
        <div class="category">Retro</div>
        <!-- Voeg hier meer categorieën toe -->
    </div>
    <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/ZuydWorld/Recources/Images/PijlL.png?raw=true" alt="Linkerpijl" class="arrow arrow-left">
    <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/ZuydWorld/Recources/Images/PijlR.png?raw=true" alt="Rechterpijl" class="arrow arrow-right">
    <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/ZuydWorld/Recources/Images/PijlLHover.png?raw=true" class="arrowhover" />
    <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/ZuydWorld/Recources/Images/PijlRHover.png?raw=true" class="arrowhover" />

    <div class="content">
        <div class="grid">  
            <div class="grid-item">
                <span class="favorite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/checkers.jpg?raw=true" alt="Afbeelding 1">
                <div class="caption">
                    Checkers
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favorite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/ttt.png?raw=true" alt="Afbeelding 2">
                <div class="caption">
                    TicTacToe
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favoritewhite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/pacman.jpg?raw=true" alt="Afbeelding 3">
                <div class="caption">
                    Pacman
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favoritewhite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/tetris.jpg?raw=true" alt="Afbeelding 4">
                <div class="caption">
                    Tetris
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favoritewhite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/pong.jpg?raw=true" alt="Afbeelding 5">
                <div class="caption">
                    Pong
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favorite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/connect4.png?raw=true" alt="Afbeelding 6">
                <div class="caption">
                    Connect4
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favorite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/blakcjakcx.png?raw=true" alt="Afbeelding 7">
                <div class="caption">
                    Blackjack
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favorite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/scrabble.jpeg?raw=true" alt="Afbeelding 8">
                <div class="caption">
                    Scrabble
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favorite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/btleship.jpg?raw=true" alt="Afbeelding 9">
                <div class="caption">
                    Battleship
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favorite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/minesweeper.png?raw=true" alt="Afbeelding 10">
                <div class="caption">
                    Minesweeper
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favoritewhite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/Qbert.png?raw=true" alt="Afbeelding 11">
                <div class="caption">
                    Qbert
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="grid-item">
                <span class="favorite"><i class="far fa-star"></i></span>
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/Hoofdpagina/spaceinvaders.png?raw=true" alt="Afbeelding 12">
                <div class="caption">
                    SpaceInvaders
                    <span class="like-percentage">XX% <i class="far fa-thumbs-up" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
@*        <div class="game-row">
            <div class="game">
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/FrontEnd/checkers.jpg?raw=true">
                <div class="game-details">
                    <span class="game-name">Checkers</span>
                    <span class="like-percentage">85% likes</span>
                </div>
                <button class="favorite"></button>
            </div>
            <div class="game">
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/FrontEnd/ttt.png?raw=true">
                <div class="game-details">
                    <span class="game-name">Tic Tac Toe</span>
                    <span class="like-percentage">85% likes</span>
                </div>
                <button class="favorite"></button>
            </div>
            <div class="game">
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/FrontEnd/pacman.jpg?raw=true">
                <div class="game-details">
                    <span class="game-name">Pac Man</span>
                    <span class="like-percentage">85% likes</span>
                </div>
                <button class="favorite"></button>
            </div>
            <div class="game">
                <img src="https://github.com/mhjdemmers/ZuydWorld/blob/FrontEnd/tetris.jpg?raw=true">
                <div class="game-details">
                    <span class="game-name">Tetris</span>
                    <span class="like-percentage">85% likes</span>
                </div>
                <button class="favorite"></button>
            </div>*@
        </div>
        <!-- Voeg hier meer game-rijen toe -->
    </div>

    <script>
        const favoriteIcons = document.querySelectorAll('.favorite, .favoritewhite');
        favoriteIcons.forEach(icon => {
            icon.addEventListener('click', function () {
                this.classList.toggle('clicked');
            });
        });


    </script>
</body>
</html>
