@{
    ViewData["Title"] = "Login";
}
<body class="image">
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="post">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input name="gebruikersnaamofemail" value="@ViewBag.Value" required>
                        <label for="">Email of Gebruikersnaam</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="wachtwoord" value="@ViewBag.Values" required>
                        <label for="">Password</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me  <a href="">Forget Password</a></label>

                    </div>
                    <button>Log in</button>
                    <div class="register">
                        <p>Don't have a account? <a href="@Url.Action("registratie")"> Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
