<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZuydWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZuydWorld.styles.css" asp-append-version="true" />
    <style>
        .level-bar {
            background-color: #f3f3f3;
            height: 10px;
            width: 80%;
            margin-top: 30px; /* Pas de gewenste afstand aan */
        }

        .level-progress {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    height: 100%;
}


        .navbar-brand {
            background-color: #487de5;
            padding: 5px; /* Pas de gewenste padding rondom het logo aan */
            display: inline-block; /* Hierdoor past de achtergrondkleur zich aan de grootte van het logo aan */
        }

            .navbar-brand img {
                height: 36px; /* Pas de hoogte van het logo naar wens aan */
                width: auto; /* Hierdoor schaalt de breedte automatisch in verhouding tot de hoogte */
                vertical-align: middle; /* Hiermee wordt het logo verticaal gecentreerd binnen de achtergrond */
            }

            .navbar-brand .logo-text {
                color: white;
                margin-left: 5px; /* Pas de gewenste marge aan tussen het logo en de tekst */
                font-weight: bold; /* Optioneel: pas de letterdikte aan naar wens */
            }

        .navbar {
            background-color: #7cbcff;
        }

        .user-info {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

            .user-info .username {
                color: white;
                margin-right: 0px;
            }

            .user-info img {
                height: 20px;
                width: auto;
                margin-right: 5px;
            }

        .navbar-icons {
            display: flex;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;
        }

            .navbar-icons img {
                height: 30px;
                width: auto;
                margin-left: 0px;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-7cbcff border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://github.com/mhjdemmers/ZuydWorld/blob/FrontEnd/zuyd%20logo.png?raw=true" alt="ZuydWorld Logo">
                    <span class="logo-text">ZuydWorld</span>
                </a>

                <div class="level-bar">
                    <div class="level-progress" style="width: 10%;"></div>
                </div>

                <div class="user-info">
                    <span class="username" style="color: white;">Username</span>

                    <div class="navbar-icons">
                        <img src="https://github.com/mhjdemmers/ZuydWorld/blob/FrontEnd/speler.png?raw=true" alt="Speler">
                        <img src="https://github.com/mhjdemmers/ZuydWorld/blob/FrontEnd/ster.png?raw=true" alt="Favoriet">
                        <img src="https://github.com/mhjdemmers/ZuydWorld/blob/FrontEnd/klok.png?raw=true" alt="Recent">
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <form class="d-flex ms-auto">
                        <input class="form-control me-2" type="search" placeholder="Zoeken" aria-label="Zoeken">
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ZuydWorld - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
