<style>
    .sidebarInfo {
        position: fixed;
        top: 20px;
        right: 0;
        width: 257px;
        height: 100%;
        background-color: #9fcbff;
        padding-top: 45px;
        color: white;
        text-align: center;
    }

        .sidebarInfo h2 {
            font-weight: bold;
        }

        .sidebarInfo hr {
            border: none;
            border-top: 3px solid #4f70af;
            margin: 20px 0; 
        }

    .button {
        display: block;
        width: 80%;
        padding: 10px 0;
        background-color: white;
        margin: 0 auto;
        color: black;
        text-decoration: none;
        border-radius: 50px;
        font-weight: bold;
    }

        .button:hover {
            background-color: #6e86ff;
            color: white;
        }
</style>

<div class="sidebarInfo">
    <br />
    <h2>Controls</h2>
    <hr /> 
    <h2>Description</h2>
    <hr />
    <a href="/score/leaderboard" class="button">Leaderboard</a>
    <hr />
    <h2>Recommended</h2>
</div>
